<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constat d'etat</title>

    <!-------------------------------------------Bootstrap cdn----------------------------------------------------------->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!------------------------------------------Font awesome cdn--------------------------------------------------------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!------------------------------------------CSS FILE INCLUSIION------------------------------------------------------>

    <link rel="stylesheet" href="style.css">

    <!------------------------------------------Semantic UI CSS---------------------------------------------------------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!------------------------------------------JQUERY-------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <!------------------------------------------Semantic UI javascript---------------------------------------------------------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!------------------------------------------------------------------------------------------------------------------------->
 
  </head>

  <body>





  <div class="container">

      <!---------------------------------- Language ----------------------------------->
      <div class="form-row row">
        <div class="col-md-2">
          <label for="languageSelect">Select Language:</label>
          <div class="input-group mb-3">
            <select class="form-select" id="languageSelect" onchange="changeLanguage()">
              <option value="en"> English </span></option>
              <option value="fr">Français</option>
            </select>
          </div>
        </div>
      </div>
       <!----------------------------------------------------------------------------->

    <form id="registrationForm" action="/feedback" method="post" enctype="multipart/form-data">

        <!------------------------Progress bar---------------------------------------->
        <div class="progress" style="height: 25px;">
          <div class="progress-bar progress-bar-striped bg-success" id="changeWidth" role="progressbar" style="width: 0%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <!---------------------------------------------------------------------------->


<!--############################################## FORM 1 ###########################################################################################################-->

      <div id="hiddenDiv" style="display: none; visibility: hidden;">

        <input style="display: none; visibility: hidden;" id="mongoidGoogle" type="text" name="mongoidGoogle">
        <input style="display: none; visibility: hidden;" id="mongoidOrcid" type="text" name="mongoidOrcid">
        <input style="display: none; visibility: hidden;" id="mongoidNormalUser" type="text" name="mongoidNormalUser">

      </div>

      <div class="step-form active" id="step1">

        <h2 style="text-align: center; color: navy;" id="reporting_info_heading"> REPORTING INFORMATION </h2>

        <div class="form-row row" style="padding: 5px 0;">
            <!-----------------------Fist row ------------------------------->
            <div class="form-group col-md-1">
               <label for="inputState" id="nameretrived" class="col-form-label">Name</label>
            </div>
            <div class="form-group col-md-3">
               <input type="text" class="form-control" id="name" name="name" placeholder="">
            </div>

            <div class="form-group col-md-1">
              <label for="inputState" id="roleretrived" class="col-form-label">Role</label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="role" name="role" placeholder="">
            </div>

            <div class="form-group col-md-1">
              <label for="inputState" id="institutionretrieved" class="col-form-label">Institution</label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="institution" name="institution" placeholder="">
            </div>
            <!----------------------------------------------------------->
        </div>

        <div class="form-group row" style="padding: 5px 0;">

          <label for="datepicker" id="date_of_inspection" class="col-md-2 col-form-label">Date of Inspection:</label>

          <div class="col-md-2">
            <input type="date" id="doi" name="doi" class="form-control">
          </div>

        </div>

        <!------------------------------------------------------------------>

        <div class="form-row row" style="padding: 5px 0;">
         
          <div class="form-group col-md-2">

            <select name="tools" multiple="" class="ui fluid dropdown" id="tools">
              <option value="">Select Tools</option>
              <option value="Tool 1">Tool 1</option>
              <option value="Tool 2">Tool 2</option>
              <option value="Tool 3">Tool 3</option>
              <option value="Tool 4">Tool 4</option>
              <option value="Tool 5">Tool 5</option>
            </select>
           
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="exampleInputTextTool" placeholder="Enter new tool">
          </div>
        
          <div class="form-group col-md-1">
            <button type="button" class="btn btn-primary" id="buttonForAddTool">Add</button>
          </div>
        
          
          <div class="form-group col-md-2">

            <select name="methods" multiple="" class="ui fluid dropdown" id="methods">
              <option value="">Select Methods</option>
              <option value="Method 1">Method 1</option>
              <option value="Method 2">Method 2</option>
              <option value="Method 3">Method 3</option>
              <option value="Method 4">Method 4</option>
              <option value="Method 5">Method 5</option>
            </select>
            
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="exampleInputTextMethod" placeholder="Enter new method">
          </div>
        
          <div class="form-group col-md-1">
            <button type="button" class="btn btn-primary" id="buttonForAddMethod">Add</button>
          </div>
        
        </div>

        <!------------------------------------------------------------------------------->

        <div class="form-row row" style="padding: 5px 0;">

          <div class="form-group col-md-6">
            <textarea class="form-control" id="purpose_of_condition_report" rows="2" placeholder=""
              name="purpose_of_condition_report"></textarea>
          </div>

          <div class="form-group col-md-1" style=" display: flex; align-items: center; justify-content: center;">
            <i class="fa-solid fa-microphone" onclick="record()"></i>
          </div>

        </div>

        <!------------------------------------------------------------------------------->

        <div class="form-group col-md-3" style="padding: 5px 0;">
          <input type="text" class="form-control" id="name_of_client" placeholder="" name="name_of_client">
        </div>
        
        <!----------------------------------------Accordian start ----------------------------------------------------->

        <div class="accordion" id="accordionExample">
          
          

          <div class="accordion-item">

            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bg-info" id="working_conditions" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree" style="padding: 13px;">
                WORKING CONDITIONS UNDER WHICH REPORT IS CREATED
              </button>
            </h2>

           
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <!-------------------------------------------------------------->
              <div class="accordion-body">
                
                <div class="form-row row" style="padding: 10px 0 0 0;">

                  <div style="display: flex; align-items: center; text-align: center; margin: 1px 0;">
                    <hr style="flex: 1; border: none; height: 2px; background-color: #000000;">
                    <span id="spanPhysical" style="padding: 0 10px; color: purple;">Physical accessibility to the cultural heritage</span>
                    <hr style="flex: 1; border: none; height: 2px; background-color: #000000;">
                  </div>

                  <div class="form-group col-md-2">
                   <input type="text" class="form-control" id="height" placeholder="" name="height">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="examination_distance" placeholder=""
                      name="examination_distance">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="structural_framework" placeholder="" name="structural_framework">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="under_glass" placeholder="" name="under_glass">
                  </div>

                </div>

                <div class="form-row row" style="padding: 10px 0 0 0;">

                  <div style="display: flex; align-items: center; text-align: center; margin: 1px 0;">
                    <hr style="flex: 1; border: none; height: 2px; background-color: #000000;">
                    <span id="spanLight" style="padding: 0 10px; color: purple;">Sufficient and safe lighting:</span>
                    <hr style="flex: 1; border: none; height: 2px; background-color: #000000;">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="quantity" placeholder="" name="quantity">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="quality" placeholder="" name="quality">
                  </div>

                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="type" placeholder="" name="type">
                  </div>

                </div>

                
                <hr>
               
                <fieldset class="form-group" style="padding: 10px 0 0 0;">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="support" value="Sufficient Physical support" >
                        <label class="form-check-label" for="gridRadios1" id="sufficient_support">
                          Sufficient Physical support
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="support" value="Mounting for the object">
                        <label class="form-check-label" for="gridRadios2" id="mounting_object">
                          Mounting for the object
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                
                
                <hr>

                
                
                <div class="form-row row" style="padding: 5px 0;">
         
                  <div class="form-group col-md-2">
        
                    <select name="assets" multiple="" class="ui fluid dropdown" id="assets">
                      <option value="">Assets used</option>
                      <option value="Ruler">Ruler </option>
                      <option value="Microscope">Microscope</option>
                      <option value="Camera">Camera</option>
                    </select>
                   
                  </div>
        
                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="exampleInputTextAsset" placeholder="Enter new asset">
                  </div>
                
                  <div class="form-group col-md-1">
                    <button type="button" class="btn btn-primary" id="buttonForAddAsset">Add</button>
                  </div>
                
                  
                 
                  <div class="form-group col-md-2">
        
                    <select name="protectionUsed" multiple="" class="ui fluid dropdown" id="protectionUsed">
                      <option value="">Select Protection</option>
                      <option value="Gloves">Gloves</option>
                      <option value="Clothing">Clothing</option>
                    </select>
                    
                  </div>
        
                  <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="exampleInputTextProt" placeholder="Enter new protection">
                  </div>
                
                  <div class="form-group col-md-1">
                    <button type="button" class="btn btn-primary" id="buttonForAddProtection">Add</button>
                  </div>
                
                </div>  

              </div>
               
            </div>
           
          </div>
          
        </div>
        <!----------------------------------------Accordian end ----------------------------------------------------->


        <!----------------------------------------------------------------------->
        <fieldset class="form-group" style="padding: 10px 0 0 0;">

          <div class="row">
            <legend class="col-form-label col-md-3 pt-0" id="reliability_collect_data_label" style="font-weight: bold;">
              Reliability of collected data :-</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="reliability_collected_data" value="Not Available">
                <label class="form-check-label" for="gridRadios1" id="not_available">
                  Not Available
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="reliability_collected_data" value="Incomplete">
                <label class="form-check-label" for="gridRadios2" id="incomplete">
                  Incomplete / Exhaustive
                </label>
              </div>
            </div>
          </div>

        </fieldset>
        <!----------------------------------------------------------------------->

        <div class="form-group col-md-3">
          <input type="text" class="form-control" id="cmnt_reliabilty" name="cmnt_reliabilty" placeholder="">
        </div>

        <!----------------------------------------------------------------------->

        <div class="accordion" id="accordionExampl" style="padding: 10px 0 0 0;">

          <div class="accordion-item">

            <h2 class="accordion-header" id="headingThre">
              <button class="accordion-button collapsed bg-info" id="additional_details" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseThre" aria-expanded="false"
                aria-controls="collapseThree" style="padding: 13px;">
                ADDITIONAL DETAILS (OPTIONAL)
              </button>
            </h2>

            <div id="collapseThre" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!----->
                <div class="form-row row" style="padding: 10px 0 0 0;">

                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="person_present_during_inspection" placeholder="" name="person_present_during_inspection">
                  </div>


                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="contact_person_inspection" placeholder="" name="contact_person_inspection">
                  </div>

                </div>
                <!----->

                <!----->
                <div class="form-row row" style="padding: 10px 0 0 0;">

                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="duration_of_assessment" placeholder="" name="duration_of_assessment">
                  </div>

                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="inaccessibility" placeholder="" name="inaccessibility">
                  </div>

                </div>
                <!----->

              </div>
            </div>

          </div>

        </div>

        <!----------------------------------------------------------------------->

         <div style="padding: 10px 0 0 0;">
            <button type="button" class="btn btn-success next">Next</button>
         </div>


      </div>


<!--############################################## FORM 1 FINISH  ###########################################################################################################-->

<!--############################################## FORM 2 START #######################################################################################--->

    <div class="step-form" id="step2">

        <h2 style="text-align: center; color: navy;" id="obj_identification_heading"> OBJECT IDENTIFICATION </h2>



        <div class="form-row row" style="padding: 5px 0;">

          <div class="col-md-2">
            <label class="col-form-label" for="" id="identification_noLabel">Identification No.</label>
          </div>

          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="identification_no" name="identification_no" placeholder="">
          </div>

          <!---Card for fetch eros and JOconde-->

          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Fetch data using identification number. Thanks to EROS and JOconde</h5>
              <div class="ui purple button" id="FetchEROS" >Fetch from EROS</div>
              <div class="ui purple button" id="FetchJOCONDE">Fetch from JOconde</div>
              
            </div>
          </div>
          <!----------------------------------->

          <div class="alert alert-danger alert-dismissible fade show" id="errorAlert" style="display: none;" role="alert">
            Invalid Identification no. Please Enter valid one
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>

          <div class="alert alert-success alert-dismissible fade show" id="successAlert" style="display: none;" role="alert">
             Data fetched successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>

        <div class="form-row row" style="padding: 5px 0;">

          <div class="col-md-2">
            <label class="col-form-label" for="datepicker" id="doaLabel">Date of Acquisition:</label>
          </div>

          <div class="col-md-3">
            <input type="date" id="date_of_acquisition" name="date_of_acquisition" class="form-control">
          </div>

        </div>



        <div class="form-row row" style="padding: 5px 0;">

          <div class="form-group col-md-2">
            <label for="" id="" class="col-form-label">Title</label>
          </div>

          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="">
          </div>

        </div>



        <div class="form-row row" style="padding: 5px 0;">

          <div class="form-group col-md-2">
            <label for="" id="" class="col-form-label">Author/Creator</label>
          </div>

          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="author" name="author" placeholder="">
          </div>

        </div>


        <div class="form-row row" style="padding: 5px 0;">

          <div class="col-md-2">
            <label class="col-form-label" for="datepicker" id="docLabel">Date of Creation:</label>
          </div>

          <div class="col-md-3">
            <input type="date" id="date_of_creation" name="date_of_creation" class="form-control">
          </div>

        </div>


        <hr>


        <div class="form-row row">

          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="ownership" name="ownership" placeholder="">
          </div>

          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="protection" name="protection" placeholder="">
          </div>

        </div>


        <div class="form-group col-md-6" style="padding: 5px 0;">
          <textarea class="form-control" id="summary" rows="2" name="summary" placeholder=""></textarea>
        </div>


        <div style="padding: 10px 0 0 0;">
          <button type="button" class="btn btn-secondary prev">Previous</button>
          <button type="button" class="btn btn-success next">Next</button>
        </div>

    </div>


<!--############################################## FORM 2 END  #######################################################################################--->

<!--############################################## FORM 3 ############################################################################################-->

      <div class="step-form" id="step3">

        <h2 style="text-align: center; color: navy;" id="obj_desc_heading"> OBJECT DESCRIPTION </h2>



        <div class="form-row row" style="padding: 5px 0;">
      
          <div class="form-group col-md-2">

            <select name="material" multiple="" class="ui fluid dropdown" id="material">
              <option value="">Select Materials</option>
              <option value="Material 1">Material 1</option>
              <option value="Material 2">Material 2</option>
              <option value="Material 3">Material 3</option>
            </select>
       
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="exampleInputTextMaterial" placeholder="Enter new material">
          </div>
    
          <div class="form-group col-md-1">
             <button type="button" class="btn btn-primary" id="buttonForAddMaterial">Add</button>
          </div>
         
       
          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="structure" name="structure" placeholder="">
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="surface" name="surface" placeholder="">
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="history" name="history" placeholder="">
          </div>

        </div>

        <div class="form-row row" style="padding: 5px 0;">

          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="technique" id="technique" placeholder="">
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="weight" id="weight" placeholder="">
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="contituent_elements" id="contituent_elements" placeholder="">
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="no_of_items" id="no_of_items" placeholder="Number of items">
          </div>

        </div>

        <div class="form-row row" style="padding: 5px 0;">

          <div class="col-md-1">
            <label class="col-form-label" for="" id="">Height</label>
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="heights" name="heights" placeholder="">
          </div>

          
          <div class="form-group col-md-1">

            <select class="form-select" aria-label="Default select example" name="heightUnits" id="heightUnits" >
              <option value="">Units</option>
              <option value="cm">cm</option>
              <option value="m">m</option>
            </select>

          </div>

          <div class="col-md-1">
            <label class="col-form-label" for="" id="">Width</label>
          </div>

          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="width" name="width" placeholder="">
          </div>

          
          <div class="form-group col-md-1">

            <select class="form-select" aria-label="Default select example" name="widthUnits" id="widthUnits" >
              <option value="">Units</option>
              <option value="cm">cm</option>
              <option value="m">m</option>
            </select>

          </div>

        </div>

        <hr>

        <div class="form-row row">

          <div class="form-group col-md-6">
            <textarea class="form-control" id="installation_notes" rows="2" name="installation_notes"
              placeholder=""></textarea>
          </div>

          <div class="form-group col-md-6">
            <textarea class="form-control" id="artist_installation_guide" rows="2" name="artist_installation_guide"
              placeholder=""></textarea>
          </div>

          <div class="form-group col-md-6" style="margin-top: 10px;">
            <textarea class="form-control" id="object_creation_description" rows="2" name="object_creation_description"
              placeholder=""></textarea>
          </div>

        </div>

        <hr>

        <h6 id="normal_upload"> Upload photo/Video</h6>


        <div class="form-row row ">

            <div class="form-group col-md-6">
              <input type="file" name="ImageFile" multiple class="form-control" id="inputGroupFile02"
              onchange="displayUploadMessage()">
            </div>

            <div id="previewContainer" style="display: flex; flex-wrap: wrap; margin-top: 10px;">
              <!--preview will come here -->
            </div>

        </div>

          <div style="padding: 10px 0 0 0;">
            <button type="button" class="btn btn-secondary prev">Previous</button>
            <button type="button" class="btn btn-success next">Next</button>
          </div>

      </div>

  <!--############################################## FORM 3 END  ############################################################################################-->

  <!--############################################## FORM 4 ############################################################################################-->

    <div class="step-form" id="step4">

        <h2 style="text-align: center; color: navy;" id="obj_env_heading"> OBJECT ENVIRONMENT </h2>

        <div class="form-row row" style="padding: 5px 0;">
          <div class="form-group col-md-6">
            <textarea class="form-control" id="environment" name="environment" rows="4" placeholder=""></textarea>
          </div>
        </div>

        <div class="form-row row" style="padding: 5px 0;">
          <div class="form-group col-md-6">
            <textarea class="form-control" id="effect" name="effect" rows="4" placeholder=""></textarea>
          </div>
        </div>

        <div style="padding: 10px 0 0 0;">
          <button type="button" class="btn btn-secondary prev">Previous</button>
          <button type="button" class="btn btn-success next">Next</button>
        </div>

    </div>

<!--############################################## FORM 4 END  ############################################################################################-->

<!--############################################## FORM 5 START ############################################################################################-->
    <div class="step-form" id="step5">

        <h2 style="text-align: center; color: navy;" id="cond_desc_heading"> CONDITIONS DESCRIPTION (OBEJCT) </h2>

        <div class="form-row row" style="padding: 5px 0;">
          <div class="form-group col-md-6">
            <textarea class="form-control" id="info_observed" name="info_observed" rows="4" placeholder=" "></textarea>
          </div>
        </div>

        <hr>

        <p id="Cc_label" style="padding: 5px 0; font-size: small; color: purple"> Please fill this if the condition of an item is known or suspected to have changed from an earlier or original state </p>

        <div class="form-group col-md-6">
          <textarea class="form-control" id="report_change" name="report_change" rows="4" placeholder=" "></textarea>
        </div>

        <hr>

        <h6 id="damaged_upload" style="padding: 5px 0;"> Damaged Observed ?  Please upload photos</h6>

        <div class="form-row row">
          <div class="form-group col-md-6">
            <input type="file" name="ImageFile2" multiple class="form-control" id="inputGroupFile04"
              onchange="displayUploadMessage2()">
          </div>

          <div id="previewContainer1" style="display: flex; flex-wrap: wrap; margin-top: 10px;">
            <!--preview will come here -->
          </div>
        </div>

        <div style="padding: 10px 0 0 0;">
          <button type="button" class="btn btn-secondary prev">Previous</button>
          <button type="button" class="btn btn-success next">Next</button>
        </div>

    </div>

<!--############################################## FORM 5 END ############################################################################################-->
<!--############################################## FORM 6 ############################################################################################-->

    <div class="step-form" id="step6">

        <h2 style="text-align: center; color: navy;" id="diag_recc_heading"> DIAGNOSTIC AND RECOMMENDATIONS </h2>

        <div class="form-row row" style="padding: 5px 0;">

          <div class="form-group col-md-6">
            <textarea class="form-control" id="descriptive_diagnosis" rows="4" name="descriptive_diagnosis"
              placeholder=""></textarea>
          </div>

          <div class="form-group col-md-6">
            <textarea class="form-control" id="recommendations" rows="4" name="recommendations"
              placeholder=""></textarea>
          </div>

        </div>

        <hr>

        <p id="optionalInfo" style="font-size: small; color: purple;">
          &nbsp;&nbsp;<i class="fas fa-info-circle"></i> <!-- Font Awesome circular info icon -->
          (Optional) Fill only if information necessary for an immediate diagnosis is not available
        </p>
      

        <div class="form-row row" style="padding: 5px 0;">
          <div class="form-group col-md-6">
            <textarea class="form-control" id="investigations" rows="4" name="investigations" placeholder=""></textarea>
          </div>
        </div>

        <div style="padding: 10px 0 0 0;">
          <button type="button" class="btn btn-secondary prev">Previous</button>

          <button type="button" class="btn btn-primary" onclick="viewSummary('registrationForm')">Verify</button>
        </div>

    </div>
 <!--############################################## FORM 6 END ############################################################################################-->


  <!----------------------------------------------------------MODAL--------------------------------------------------------------------->

      <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

            <div class="modal-header" style="background-color: black; color: white;">

              <h5 class="modal-title" id="summaryModalLabel"><strong>VERIFICATION OF DETAILS ENTERED</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div id="summaryDiv"></div>
              <!--DATA WILL BE APPENDED HERE-->


            </div>

            <div class="modal-footer">


              <button type="button" class="btn btn-secondary" id="button_close" onclick="closeModal()"
                data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark" style="float: right;">Submit</button>

            </div>

          </div>

        </div>

      </div>


      <!-----------------------------------------------------------MODAL END------------------------------------------------------------>

      <!------------------------------------------------------------------------------------->

    </form>

  </div>
 <!----------------------------  END OF CONTAINER DIV --------------------------------------------------------->







 <!--********************************************JAVASCRIPT PART START ********************************************************************-->

    <script>

      // Get values from URL parameters
      var parsedorcidName = '<%= parsedorcidName %>';
      var parsedorcidEmploymentRoleTitle = '<%= parsedorcidEmploymentRoleTitle %>';
      var parsedorcidEmploymentInstitution = '<%=parsedorcidEmploymentInstitution %>'
      var parsedorcidEmploymentInstitution = '<%=parsedorcidEmploymentInstitution %>'
      var parsedgoogleUsername = '<%=parsedgoogleUsername %>'
      var parsednormalUserEmail = '<%=parsednormalUserEmail %>'
      var parsedgoogleMongoDBid = '<%=parsedgoogleMongoDBid%>'
      var parsedorcidMongoDBid = '<%=parsedorcidMongoDBid%>'
      var parsedNormalUserMongoDBid = '<%=parsedNormalUserMongoDBid%>'


      // Set values in the form fields
      document.getElementById('mongoidGoogle').value = parsedgoogleMongoDBid;
      document.getElementById('mongoidOrcid').value = parsedorcidMongoDBid;
      document.getElementById('mongoidNormalUser').value = parsedNormalUserMongoDBid;

      document.getElementById('name').value = parsedorcidName || parsedgoogleUsername || parsednormalUserEmail;
      document.getElementById('role').value = parsedorcidEmploymentRoleTitle;
      document.getElementById('institution').value = parsedorcidEmploymentInstitution;


    </script>


    <script src="language.js"></script>
    <script src="logic.js"></script>

    <script>

      $('.ui.dropdown')
      .dropdown()
      ;

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>



<!--********************************************JAVASCRIPT PART END  ********************************************************************-->


  </body>

</html>